main {
    background-color: lightgray;
}

hr {
    width: 100%;
}

.p {
    font-size: 18px;
}

#contenu {
    background-color: rgb(218, 216, 216);
}

.container {
    padding-top: 5vh;
    padding-bottom: 3vh;
}